<div class="container">
  <mat-card class="mat-card">
    <h1 class="heading-primary">Register Page</h1>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-container">
        <mat-form-field color="warn" class="form-filed">
          <input color="warn" matInput placeholder="Name" formControlName="name">
          <mat-hint class="errors-texts" *ngIf="nameInvalid">Name is required!!</mat-hint>
        </mat-form-field>

        <mat-form-field color="warn" class="form-filed">
          <input color="warn" matInput placeholder="Email" formControlName="email">
          <mat-hint *ngIf="emailFormat">Email is required!!!
          </mat-hint>
        </mat-form-field>

        <mat-form-field color="warn">
          <input color="warn" type="password" matInput placeholder="Password" formControlName="password">
          <mat-hint class="errors-texts" *ngIf="passwordInvalid">Password is required!!!
          </mat-hint>
        </mat-form-field>

        <mat-form-field color="warn" class="form-filed">
          <input color="warn" matInput placeholder="ImageUrl" formControlName="imageUrl">
          <mat-hint class="errors-texts" *ngIf="imageInvalid">Image is required!!</mat-hint>
        </mat-form-field>

        <button class="register-button" mat-flat-button color="warn" [disabled]="registerForm.invalid"
          type="submit">Register</button>
      </div>
    </form>
  </mat-card>
</div>
