.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.margin-left {
  margin-left: 20px;
}

mat-toolbar {
  margin-bottom: 10px;
}

.menu {
  margin-right: 15px;
}

.home-icon {
  color: #f44336;
}
