<mat-toolbar color="warn">
  <mat-toolbar-row>
    <button mat-mini-fab color="basic" routerLink="users" aria-label="Example icon button with a home icon">
      <mat-icon>home</mat-icon>
    </button>
    <span class="marginLeft">Tours</span>
    <span class="example-spacer"></span>
    <button mat-button [matMenuTriggerFor]="menu">Menu</button>
    <mat-menu #menu="matMenu" class="menu">
      <button mat-menu-item routerLink="login">Login</button>
      <button mat-menu-item routerLink="register">Register </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
