<h1 class="heading-primary">All Users</h1>

<div class="container">
  <mat-form-field color="warn" class="marginLeft">
    <mat-label>Search by Name</mat-label>
    <input color="warn" matInput type="text" [(ngModel)]="filterValue" (input)="findByName(filterValue)"
      placeholder="Search by name">
  </mat-form-field>

  <!-- <button class="user-button" color="warn" mat-flat-button routerLink="add-user">Create a
    User</button> -->

  <button class="user-button" color="warn" mat-flat-button (click)="openDialog3()">Create a
    User</button>
</div>

<div *ngIf="dataSource">
  <mat-table class="table" [dataSource]="dataSource.data">
    <mat-header-row class="table-header" *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let myRowData; columns: displayedColumns"></mat-row>

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.email}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="imageUrl">
      <mat-header-cell *matHeaderCellDef> Image </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.imageUrl}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="role">
      <mat-header-cell *matHeaderCellDef> Role </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.role}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef class="action-header"> Action </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <!-- <button class="edit-button" routerLink="edit-user" mat-stroked-button color="warn"
          (click)="onClick(row)">Edit</button> -->

        <button class="edit-button" mat-stroked-button color="warn" (click)="openDialog(row)">Edit</button>

        <!-- Delete Button -->
        <button class="button-margin-left" (click)="openDialog2(row)" mat-mini-fab color="warn"
          aria-label="Example icon button with a delete icon">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
  </mat-table>


  <mat-paginator [length]="dataSource.pagination.totalCount" [pageSize]="dataSource.pagination.pageSize"
    [pageSizeOptions]="[10]" (page)="onPaginateChange($event)" showFirstLastButtons aria-label="Select page"
    class="paginator">
  </mat-paginator>

</div>
